__pycache__
.env
contador.json
venv
.pytest_cache
.tox
.coverage

#logs
spam.log

# sqlite usado em PROD, caso não tenha especificado nenhum
music.db

# sqlite usado nos testes
teste.db


# Pasta com Coverage do Código
htmlcov
# Executar Github Actions Localmente
.secrets
# Cookies do yt-dlp -- uteis para deploys em Clouds
cookies.txt
