__pycache__
.env
contador.json
venv
.pytest_cache
.tox
.coverage

# Pasta com Coverage do Código
htmlcov
# Executar Github Actions Localmente
.secrets
# Cookies do yt-dlp -- uteis para deploys em Clouds
cookies.txt
